<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>business</mat-icon>
  </button>
  <span>Loan Simulator - Tangelo</span>
  <span class="navbar"></span>
  <button mat-raised-button color="accent" (click)="openDialog()">Pedir Préstamo</button>
</mat-toolbar>

<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="cardId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
        <td mat-cell *matCellDef="let row"> {{row.cardId}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha límite </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date }} </td>
      </ng-container>

       <!-- Amount Column -->
       <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
        <td mat-cell *matCellDef="let row"> ${{row.amount | mask: 'separator':','}} </td>
      </ng-container>

      <!-- Approved Column -->
      <ng-container matColumnDef="isApproved">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> <mat-icon>{{row.isApproved ? 'check_circle' : 'cancel'}}</mat-icon> </td>
      </ng-container>

      <!-- Button Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <button *ngIf="row.isPaid  && row.isApproved" mat-raised-button color="primary" disabled>Pagado</button>
          <button *ngIf="!row.isPaid && row.isApproved" (click)="setLoanAsPaid(row.id)" mat-raised-button color="warn">Liquidar</button>
          <button *ngIf="!row.isApproved" mat-raised-button>N/A</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay información de préstamos aún.</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

<div>
  <app-capital [amount]="loanAmount"></app-capital>
</div>

